*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    background:url("./media/background.jpg") no-repeat center/cover;
    text-align: center;
    align-items: center;
    cursor: url(media/racket.png) 2 2, pointer;;   
}
h1{
    margin-top: 4rem;
    color: #00ff9b;
    font-size: 5rem;
}

h2{
    margin-top: 2rem;
    color: #00ff9b;
}
.play{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#circle_container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.circle{
     background: rgb(243, 245, 246);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     margin: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     pointer-events: none;
      
     
}

.active {
    background-image: url(./media/shuttlecock.png);
    background-repeat: no-repeat;
    background-position: center;
}

button{
    margin-top: 2rem;
    height: 5rem;
    width: 10rem;
    border-radius: 5px;
    color: black;
    background-color:#00ff9b;
    font-size: x-large;
}
#start{
    display: block;
}

#stop{
    display: none;
}

#close{
    margin: auto;
}
#overlay{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    color: #3a3a20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    padding: 2rem;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#endResult {
    margin-top: 2rem;
}
