@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-image {
    width: 35vw;
    background: url(https://prod-sitefinity-library.kappro.com/images/default-source/career-corner/starting-career/insurance-producer_16.jpg?sfvrsn=d94c9803_5) no-repeat fixed bottom center/cover;
}

.container {
    display: flex;
}

.content {
    padding: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 1rem;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
button{
    color: white;
    background-color: #2894d7;
    border: 2px solid rgb(20, 15, 15);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
}
#insuranceResult{
    margin: 1rem 0.5rem;
}

.highlight{
    color: rgb(127, 176, 255);
}