body{
    
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(pizza.jpeg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% 100%;
}

header{
    background:rgb(237, 250, 127);
    height:100px;

}
.container{
  
}
form{
    text-align:center;
}

.button{
    padding:10px;
    border:2px solid black;
    border-radius: 5px;
    margin:10px;
    background-color: aquamarine;
}